/*
priority 
1: #202020;
2: #535353;
3: #888888;
4: #b9b9b9;
5: #cccccc;
*/

/* Header section */
header {
	background: #cccccc;
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 0 20px;
	justify-items: center;
	align-items: center;
}

header .logo {
	background: #888888;
	width: 150px;
	height: 50px;
}

header .nav-link {
	background: #b9b9b9;
	width: 70px;
	height: 30px;
}

header .search-bar {
	background-color: #888888;
	width: 175px;
	height: 50px;
}
