/*
priority 
#202020;
#3a3a3a
#535353;
#888888;
#b9b9b9;
#cccccc;
*/

/* Header section */
header {
	background: #cccccc;
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 0 20px;
	justify-items: center;
	align-items: center;
}

header .logo {
	background: #888888;
	width: 150px;
	height: 50px;
}

header .nav-link {
	background: #b9b9b9;
	width: 70px;
	height: 30px;
}

header .search-bar {
	background-color: #888888;
	width: 175px;
	height: 50px;
}

/* Main body Section */
main {
	display: grid;
}

/* featured articles section */
.featured-articles {
	width: 100%;
	height: 1000px;
	background-color: #888888;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.featured-articles .article {
	width: 100%;
	height: 500px;
	border: solid 1px black;
}

.featured-articles .article-headline {
	width: 300px;
	height: 100px;
	position: absolute;
	background-color: #202020;
	left: 0;
	right: 0;
	margin: 25px auto;
}

.color-changer {
	width: 200px;
	height: 50px;
	position: absolute;
	background-color: #b9b9b9;
	right: 50px;
	top: 20px;
}

.featured-articles .article-1 {
	background-color: #535353;
}

/* membership subscription advert */
.membership {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #535353;
	display: grid;
	grid-template-columns: 1fr 5fr 3fr;
	margin-top: 100px;
}

.membership-content {
	grid-column: 2;
	background-color: #3a3a3a;
}

.membership-button {
	background-color: #202020;
	height: 50px;
	width: 300px;
	position: absolute;
	bottom: 100px;
	margin-left: 100px;
	border-radius: 10px;
}

/* Blog post section */
.blog-posts {
	width: 100%;
	height: 1500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 100px;
}

.post {
	background-color: #b9b9b9;
	border: solid 1px black;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

.post-title {
	width: 200px;
	height: 50px;
	background-color: #3a3a3a;
	margin-bottom: 50px;
}

.post-author {
	width: 100px;
	height: 25px;
	background-color: #535353;
	margin-bottom: 50px;
}

.post-content {
	max-width: 100%;
	height: 200px;
	background-color: #888888;
}

.blog-posts .advert-bright {
	background-color: #3a3a3a;
}

/* Smashing TV section */
.smashing-TV {
	width: 100%;
	min-height: 500px;
	display: grid;
	grid-template-rows: 3fr 2fr 2fr 2fr;
	background-color: #3a3a3a;
	justify-items: center;
	padding-top: 50px;
	margin-top: 100px;
}

.TV-logo {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #202020;
}
.TV-title {
	width: 300px;
	height: 100px;
	background-color: #202020;
	margin-top: 25px;
}

.TV-content {
	width: 500px;
	height: 150px;
	background-color: #2d2d2d;
}

.TV-button {
	width: 250px;
	height: 75px;
	background-color: #202020;
	margin-top: 25px;
	border-radius: 10px;
}

/* Clicks-book Section */
.clicks-book {
	width: 100%;
	min-height: 500px;
	display: grid;
	grid-template-rows: 1fr 3fr;
	background-color: #b9b9b9;
	justify-items: center;
	padding-top: 50px;
	margin-top: 100px;
}

.clicks-title {
	background-color: #2d2d2d;
	width: 300px;
	height: 100px;
}

.clicks-content {
	background-color: #5a5a5a;
	width: 600px;
	height: 500px;
	display: grid;
	grid-template-rows: 1fr 2fr;
	justify-items: center;
	padding-top: 100px;
}

.clicks-description {
	width: 500px;
	height: 150px;
	background-color: #2d2d2d;
}

.clicks-button {
	width: 250px;
	height: 75px;
	background-color: #202020;
	margin-top: 25px;
	border-radius: 10px;
}
