/*
priority 
#202020;
#3a3a3a
#535353;
#888888;
#b9b9b9;
#cccccc;
*/

h1,
h2,
h3,
h4,
p {
	color: white;
}

/* Header section */
header {
	background: #cccccc;
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 0 20px;
	justify-items: center;
	align-items: center;
}

header .logo {
	background: #888888;
	width: 150px;
	height: 50px;
}

header .nav-link {
	background: #b9b9b9;
	width: 70px;
	height: 30px;
}

header .search-bar {
	background-color: #888888;
	width: 175px;
	height: 50px;
}

/* Main body Section */
main {
	display: grid;
}

/* featured articles section */
.featured-articles {
	width: 100%;
	height: 1000px;
	background-color: #888888;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.baloo > * {
	font-family: "Baloo Tammudu 2", cursive;
}

.featured-articles .article {
	width: 100%;
	height: 500px;
	border: solid 1px black;
}

.featured-articles h3 {
	line-height: 500px;
	padding-left: 20px;
}

.featured-articles .article-headline {
	width: 300px;
	height: 100px;
	position: absolute;
	background-color: #202020;
	left: 0;
	right: 0;
	margin: 25px auto;
	text-align: center;
}

.featured-articles h2 {
	line-height: 100px;
}

.color-changer {
	width: 200px;
	height: 50px;
	position: absolute;
	background-color: #b9b9b9;
	right: 50px;
	top: 20px;
}

.featured-articles .article-1 {
	background-color: #535353;
}

/* membership subscription advert */
.membership {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #535353;
	display: grid;
	grid-template-columns: 1fr 5fr 3fr;
	margin-top: 100px;
}

.membership-content {
	grid-column: 2;
	background-color: #3a3a3a;
}

.membership p {
	margin-top: 100px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 700;
}

.membership-button {
	background-color: #202020;
	height: 50px;
	width: 300px;
	position: absolute;
	bottom: 100px;
	margin-left: 100px;
	border-radius: 10px;
}

/* Blog post section */
.blog-posts {
	width: 100%;
	height: 1500px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 100px;
}

.post {
	background-color: #b9b9b9;
	border: solid 1px black;
	padding-top: 50px;
	padding-left: 25px;
	padding-right: 25px;
}

.post-title {
	width: 200px;
	height: 50px;
	background-color: #3a3a3a;
	margin-bottom: 50px;
}

.post-author {
	width: 100px;
	height: 25px;
	background-color: #535353;
	margin-bottom: 50px;
}

.post-content {
	max-width: 100%;
	height: 200px;
	background-color: #888888;
}

.blog-posts .advert-bright {
	background-color: #3a3a3a;
}

/* Smashing TV section */
.smashing-TV {
	width: 100%;
	min-height: 500px;
	display: grid;
	grid-template-rows: 3fr 2fr 2fr 2fr;
	background-color: #888888;
	justify-items: center;
	padding-top: 50px;
	margin-top: 100px;
}

.TV-logo {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: #202020;
}
.TV-title {
	width: 300px;
	height: 100px;
	background-color: #3a3a3a;
	margin-top: 25px;
}

.TV-content {
	width: 500px;
	height: 150px;
	background-color: #535353;
}

.TV-button {
	width: 250px;
	height: 75px;
	background-color: #202020;
	margin-top: 25px;
	border-radius: 10px;
}

/* Clicks-book Section */
.clicks-book {
	width: 100%;
	min-height: 500px;
	display: grid;
	grid-template-rows: 1fr 3fr;
	background-color: #b9b9b9;
	justify-items: center;
	padding-top: 50px;
	margin-top: 100px;
}

.clicks-title {
	background-color: #2d2d2d;
	width: 300px;
	height: 100px;
}

.clicks-content {
	background-color: #5a5a5a;
	width: 600px;
	height: 500px;
	display: grid;
	grid-template-rows: 1fr 2fr;
	justify-items: center;
	padding-top: 100px;
	margin-bottom: 50px;
}

.clicks-description {
	width: 500px;
	height: 150px;
	background-color: #2d2d2d;
}

.clicks-button {
	width: 250px;
	height: 75px;
	background-color: #202020;
	margin-top: 25px;
	border-radius: 10px;
}

/* Community spot light links */
.community-links {
	width: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
	background-color: #cccccc;
	margin-top: 50px;
}

.person-week {
	grid-column: 1 / -1;
	height: 300px;
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 50px;
	align-items: center;
}

.person-week-image {
	background-color: #535353;
	height: 200px;
	width: 200px;
	margin-left: 100px;
}

.person-week-content {
	background-color: #b9b9b9;
	height: 200px;
	margin-right: 50px;
}

.community-post {
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr 4fr;
}

.community-post .post-title {
	background-color: #888888;
	width: 80%;
	margin: 0 50px 20px 20px;
}

.community-post .post-content {
	background-color: #b9b9b9;
	margin: 0 20px 0 100px;
}

/* Design Systems advert section */
.design-systems-ad {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
	background-color: #b9b9b9;
	margin-top: 100px;
	padding-left: 100px;
}

.systems-title {
	background-color: #2d2d2d;
	width: 300px;
	height: 100px;
	align-self: center;
}

.systems-content {
	background-color: #888888;
	width: 70%;
	height: 200px;
}

.systems-button {
	width: 250px;
	height: 75px;
	background-color: #202020;
	margin-top: 25px;
	border-radius: 10px;
}

/* Our Guids section */
.our-guides {
	width: 100%;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 1fr;
	background-color: #cccccc;
}

.small-guide {
	max-width: 100%;
	height: 500px;
	background-color: #b9b9b9;
	margin: 100px 100px 0 100px;
}

.large-guide {
	max-width: 100%;
	height: 1000px;
	background-color: #b9b9b9;
	margin: 0 100px 100px 100px;
}

.guide-title {
	background-color: #2d2d2d;
	max-width: 100%;
	height: 75px;
	margin-left: 10%;
	margin-right: 10%;
	align-self: center;
	margin-top: 25px;
}

.guide-content {
	background-color: #888888;
	max-width: 100%;
	height: 175px;
	margin-top: 25px;
	margin-left: 10%;
	margin-right: 10%;
	align-self: center;
}

.guide-button {
	width: 250px;
	height: 75px;
	background-color: #535353;
	margin-top: 25px;
	margin-left: 10%;
	border-radius: 10px;
}

.guide-advert {
	background-color: #535353;
}

/* Footer Section */
footer {
	width: 100%;
	background-color: #b9b9b9;
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-gap: 50px;
	justify-items: center;
}

.footer-title {
	width: 300px;
	height: 75px;
	background-color: #535353;
	margin-top: 50px;
}

.footer-links {
	width: 80%;
	max-height: 100%;
	background-color: #535353;
}

.footer-nav {
	width: 50%;
	background-color: #535353;
	max-height: 100%;
}
